<p class="hiDashboard">Bonjour, Claire ! <button class="timerButton" (click)="openTimer()"><img src="assets/timer.png" /></button></p> <!-- Rendre ça dynamique  -->


<div class="dashboard">
    <div class="encouragement">
        <img src="assets/fleur1.png" alt="fleur de décoration" class="fleur1" />
        <img src="assets/fleur2.png" alt="fleur de décoration" class="fleur2" />
        Petite phrase d'encouragement <!-- Rendre ça dynamique  -->
    </div>
    <div class="challenges">
        Mes challenges
        <div class="oneChallenge">
            <div class="oneChallengeDescription">
                <p class="oneChallengeName">Nom du challenge</p>
                <p class="oneChallengeTime">5 jours restants</p>
            </div>
            <div class="oneChallengeProgress">
                <app-progress-bar [title]="'Challenge Yoga'" [current]="5" [max]="15" [daysRemaining]="10">
                </app-progress-bar> <!-- Rendre dynamique  -->
            </div>
        </div>
    </div>
    <div class="tasks">Contenu central</div>
    <div class="posts">
        <img src="assets/fleur3.png" alt="fleur de décoration" class="fleur3" />
        Manque de dopamine ? Par ici !
    </div>
    <div class="stats">
        <p class="statsTitle">Au cours de la semaine :</p>
        <div class="statList">
            <div class="statTask">
                <p class="stat">Tâches validées : 2</p>
                <p class="stat">Tâches en cours : 4</p>
                <p class="stat">Tâches ajoutées : 1</p>
            </div>
            <div class="statChall">
                <p class="stat">Badges acquis : 2</p>
                <p class="stat">Challenges en cours : 2</p>
                <p class="stat">Challenges terminées : 2</p>
            </div>
        </div>
    </div>
</div>